<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Libre Phonebook</title>
      {% else %}
      <title>Libre Phonebook</title>
      {% endif %}
    </head>
    <body>
        <div>Phonebook: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>